body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #333;
    color: #fff;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
  }